@page "/"
@inject IRepository repository

<h1>Tarefas</h1>
<Tarefas tarefas="GetTarefas()" Titulo="Lista de Tarefas" />

@code {
    List<Tarefa> tarefas = new List<Tarefa>();
    
    protected override void OnInitialized() => tarefas = repository.ObterTarefas();

    private List<Tarefa> GetTarefas()
    {
        return tarefas;
    }
}
