<td>
    <button @onclick="@(() => RemoverTarefa.InvokeAsync(item))" class="btn btn-danger">
        <i class="oi oi-trash"></i>
    </button>
</td>
<td>@item.CreatedAt</td>
<td>@item.Description</td>
<td><input type="checkbox" @bind="item.Done" />@item.Done</td>


@code {
    [Parameter] public Tarefa item { get; set; }
    //passagem de um evento como parametro
    [Parameter] public EventCallback<Tarefa> RemoverTarefa { get; set; }
}